body{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  font-family: "Inria Serif", serif;
  justify-content: center;
}

.containerToDo{
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 0 20px black;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  width: 75vw;
}

.titleToDo{
  background-color: #E1F7FF;
  border-radius: 20px;
  display: flex;
  font-size: 35px;
  justify-content: center;
  width: 40vw;
}