.containerSearch{
    align-items: center;
    background-color: #E1F7FF;
    border-radius: 20px;
    display: flex;
    height: 3vh;
    justify-content: center;
    margin-top: 2vh;
    width: 30vw;
}
.searchIcon{
    height: 15px;
    margin-right: 1vw;
    width: 15px;
}

.searchInput{
    background-color: #E1F7FF;
    border: none;
    width: 23vw;
}